# Переменные окружения
.env
.env.local
.env.*.local

# Зависимости
node_modules/

# База данных
database/*.db
database/*.db-wal
database/*.db-shm

# Логи
*.log

# Сертификаты
certs/

# Временные файлы
test-*.js